{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock  %}

{% block content %}
<div class='row' style=" margin: 0;padding: 0;height: 66.6vh;position: relative;">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card" id="card">
            <div class="card-body">
                <h4 class="card-title text-center">Login no TO DO</h4>

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{next}}">

                    {{form|crispy}}
                    <button type="submit" class='btn btn-primary' style="width: 100%;">Login</button>
                    <a href="/accounts/register/" style="text-decoration: none; color: rgb(21, 21, 21);">
                        <p style="margin-top: 10px;">Não tem conta? Cadastre-se</p>
                    </a>
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}