.container-fluid{
    padding: 0;
    
}

/* Navbar */

.navbar{
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}

.navbar-nav{
    margin: auto;
}

.navbar-brand{
    font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link{
    color: #333;
    letter-spacing: 1px;
}

/* Conteúdo */


#add-task{
    text-decoration: none;
}

.list-div{
    padding: 0;
    height: 70vh;
    position: relative;
}

.task-list{
    padding-left: 0;
}

.task-item{
    list-style: None;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px outset #ccc;
}

.task-item i{
    float: right;
    padding-right: 5px;
}

.add-div i{
    padding-left: 7px;
}

.add-div{
    background-color: rgb(28, 105, 156);
    font-size: 20px;
    height: 50px;
    width: 210px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 7px;
}

.add-div a{
    color: white;
}

/* Rodapé */

footer{
    background-color: #333;
    height: 22vh;
    border-top: 2px solid #202020;
    bottom: 0;
    width: 100%;
    padding-top: 75px;
}

footer p{
    color: #f5f5f5;
    text-align: center;
    position: relative;
}

/* Página de criação da tarefa */

#criar-tarefa{
    margin-bottom: 10px;
}

/* Mensagens */

ul.messages{
    padding: 0;
}

ul.messages li{
    list-style: none;
}

/* Paginação */

.paginator{
    margin-bottom: 20px;
    margin-top: 20px;
}

.step-links{
    position: relative;
    margin-left: 50%;
    margin-right: auto;
}

.step-links .current{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

/* Botões da página inicial */

.trash-btn{
    color: black;
}

.edit-btn{
    color: black;
}

/* login */

#card{
    margin-bottom: 20px;
}


