{% extends "base.html" %}

{% block title %}Lista de tarefas{% endblock  %}

{% block content %}
<div class='offset-1 col-10 list-div'>
    <h1>Lista de Tarefas</h1>
    <a id='add-task' href="newtask/">
        <div class='col-2 add-div'>
            <i class="bi bi-plus"></i>Adicionar tarefa
        </div>
    </a>
    <ul class='task-list'>
        {% for task in tasks %}
        <li class='task-item'>
            <span><a href='/task/{{task.id}}'>{{task.title}}</a></span>
            <span><i class="bi bi-trash-fill"></i></span>
            <span><i class="bi bi-pencil-square"></i></span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

